.places
bookmarks
elpa
history
emojis
recentf
smex-items
transient
projectile-bookmarks.eld/
/projectile-bookmarks.eld
/projectile.cache
flycheck_.emacs
/eshell/
/tramp
/.org-id-locations
/org-gcal/
/persist/
/request/
/auto-save-list/
/.DS_Store
gcal.el
/ido.last
/org-roam.db
url